body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}

.App {
  max-width: 960px;
  min-width: 400px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}

h2 {
  margin-left: 10px;
  border-left: 5px #ffff57;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  color: #fff;
  border-color: #fff;
  ;
}

.pagination-container {
  margin-bottom: 16px;
}

.content {
  text-align: left;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  padding: 8px 16px;
  background: #1b1b1b;
  border-radius: 20px;
}

.card p {
  margin: 6px 0;
  color: #999;
}

.card h3 {
  margin: 10px 0;
  color: #ffff57;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

@media (max-width: 650px) {
  .list {
    grid-template-columns: 1fr;
  }
}